@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,900;1,300;1,500;1,900&display=swap');

/* Estilos globales */
:root {
  --sidebar-width: 250px;
  --color-white: #FFFFFF;
  --color-dark: #000000;
  --color-background: #F0F0F0;
  --card-border-radius: 15px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-background);
  color: var(--color-dark);
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
}


.container {
  display: flex;
  width: 100%;
}

.container2 {
  display: flex;
  width: 100%;
  padding-top: 10px;
  justify-content: center;

}
aside {
  width: var(--sidebar-width);
}

/* Contenedor principal que aloja el título del gráfico y el gráfico en sí */
.main-content {
  flex-grow: 1; /* Permite que este contenedor crezca */
  margin-left: var(--sidebar-width); /* Desplaza el contenido a la derecha del sidebar */
  padding: 20px; /* Añade relleno interno */
}

/* Contenedor para la barra horizontal */
.horizontal-bar {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  /* Elimina el max-width para permitir que crezca según el espacio disponible */
  width: calc(100% - var(--sidebar-width) - 100px); /* Ajusta en función del padding y margin que desees */
  height: auto; /* O un valor fijo si quieres un alto específico */
}

/* Estilos para el título del gráfico y el texto dentro del contenedor horizontal */
.chart-title, .horizontal-bar p {
  text-align: center;
  margin: 0 0 20px; /* Añade un margen inferior para separar del gráfico */
}

/* SVG y otros elementos dentro del .horizontal-bar */
.horizontal-bar svg, .horizontal-bar p {
  display: block; /* Asegúrate de que se traten como bloques para ocupar su propia línea */
  max-width: 100%; /* Limita el ancho al del contenedor para evitar desbordamiento */
}

/* Ajusta este selector para que coincida con tu estructura HTML real */
.chart-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
