.fondo-bloqueante {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.horizontal-bar {
  background: #fff; /* Fondo blanco para la tarjeta */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Sombra para la tarjeta */
  border-radius: 10px; /* Bordes redondeados para la tarjeta */
  padding: 2rem; /* Espaciado interno para la tarjeta */
  display: flex;
  flex-direction: column; /* Alinear verticalmente */
  align-items: center; /* Centrar los elementos horizontalmente */
  justify-content: space-around; /* Distribuir el espacio verticalmente */
  max-width: 500px; /* Ancho máximo para la tarjeta */
  width: 100%; /* Ancho basado en el contenido */
  margin: 2rem; /* Margen alrededor de la tarjeta */
}

.container2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.pantalla-restrictiva{
  margin-left: 220px;
}

@media (min-width: 640px) {
  .container2 {
    flex-direction: row; /* Elementos lado a lado en pantallas más grandes */
  }

  .btn-primary {
    max-width: none;
    margin: 0 10px; /* Espacio entre botones */
  }
  .pantalla-restrictiva{
    margin-left: 60px;
  }
}

@media (max-width: 640px) {
  .horizontal-bar, .fondo-bloqueante {
    margin-top: 0;
    width: auto; /* Ajusta el ancho según el contenido */
    height: auto; /* Ajusta la altura según el contenido */
  }

  .pantalla-restrictiva, .navButtom {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: auto; /* Ajusta la altura según el contenido */
  }


  .navButtom ul li {
    width: 100%; /* Ocupa todo el ancho disponible */
    margin-bottom: 0.5rem; /* Espacio entre botones */
  }

  .navButtom ul li button {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: auto; /* Ajusta la altura según el contenido */
  }
  .pantalla-restrictiva{
    margin-left: 0px;
  }
}
