<div class="container">
  <div class="main-content">
    <h2 class="chart-title">CELDA #3</h2>
    <div class="chart-container">
      <div class="horizontal-bar">
        <canvas #myChart width="1200" height="450" ></canvas>
      </div>
    </div>
  </div>
  <div class="container2"><button #saveBtn type="button" class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 shadow-lg shadow-cyan-500/50 dark:shadow-lg dark:shadow-cyan-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">EXPORTAR GRAFICO</button></div>
  <div class="container2"><button (click)="exportarDatos()" type="button" class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 shadow-lg shadow-cyan-500/50 dark:shadow-lg dark:shadow-cyan-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">EXPORTAR DATOS DE CELDA EXCEL</button></div>
</div>
