<div class="root">
  <app-sidebar-operador></app-sidebar-operador>
          <div class="md:container md:mx-auto px-4 grid-cols-3">
            <div class="grid-container">
              <div class="grid-item"><div><app-cell1o1></app-cell1o1>></div></div>
              <div class="grid-item"><div><app-cell2o2></app-cell2o2></div></div>
              <div class="grid-item"><div><app-cell3o3></app-cell3o3></div></div>
              <div class="grid-item"><div><app-cell4o4></app-cell4o4>></div></div>
              <div class="grid-item"><div><app-cell5o5></app-cell5o5></div></div>
              <div class="grid-item"><div><app-cell6o6></app-cell6o6></div></div>
              <div class="grid-item"><div><app-cell7o7></app-cell7o7></div></div>
              <!-- Divs vacíos para marcadores de posición si es necesario -->
              <div class="grid-item"></div>
              <div class="grid-item"></div>
            </div>
</div>
</div>

