<div class="horizontal-bar">

    <h2 class="chart-title">ESTADOS CELDA 5</h2>

    <div class="chart-container">

        <div class="Tittle-specific">
            <h2>JG</h2>
            <div class="chart-container">
                <div class="pie-chart rounded-full" [ngStyle]="{'background-color': colors['jg']}">
                    <br>
                    <div class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded-full">
                        {{ deviceData?.['jg'] }}
                    </div>
                  <br>
                </div>
            </div>
        </div>


        <div class="Tittle-specific">
            <h2>HF</h2>
            <div class="chart-container">
                <div class="pie-chart rounded-full" [ngStyle]="{'background-color': colors['hf']}">
                    <br>
                    <div class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded-full">
                        {{ deviceData?.['hf'] }}
                    </div>
                  <br>
                </div>
            </div>
        </div>


        <div class="Tittle-specific">
            <h2>EG</h2>
            <div class="chart-container">
                <div class="pie-chart rounded-full" [ngStyle]="{'background-color': colors['eg']}">
                    <br>
                    <div class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded-full">
                        {{ deviceData?.['eg'] }}
                    </div>
                  <br>
                </div>
            </div>
        </div>



        <div class="Tittle-specific">
            <h2>RB</h2>
            <div class="chart-container">
                <div class="pie-chart rounded-full" [ngStyle]="{'background-color': colors['ro']}">
                    <br>
                    <div class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded-full">
                        {{ deviceData?.['ro'] }}
                    </div>
                  <br>
                </div>
            </div>
        </div>



    </div>
</div>
