@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,900;1,300;1,500;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */


.root{
  --color-primary: #6c9cef;
  --color-danger: #f00c60;
  --color-success: #1b9605;
  --color-warning: #f7d060;
  --color-white: #fff;
  --color-info-dark: #7dbdaf;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #676483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);

}


*{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
  background-color: var(--color-background);
  margin-left: 15vh;
  flex-grow: 2;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;

}

h2 {
  font-weight: 600;
  font-size: 1.4rem;
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
  margin: 0;
}

small {
  font-size: 0.76rem;
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

.text-muted {
  color: var(--color-info-dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

.containers {
  display: grid;
  width: 100%;
  max-width: 50%;
  margin: 0 70px;
  gap: 1.8rem;
  grid-template-columns: 12rem auto 23rem;
}

@media (max-width: 768px) {

  .chart-container {
    flex-direction: column; /* Cambia la dirección del flexbox a columna */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  .cont-pie {
    width: 100%; /* Cada tarjeta se extiende al ancho completo */
  }

  :root {
    --sidebar-width: 200px; /* Sidebar más pequeño en pantallas pequeñas */
  }

  .horizontal-bar {
  }

  .pie-chart {
    width: 80px; /* Gráficos de pastel más pequeños en pantallas pequeñas */
    height: 80px;
  }

  aside {
    width: 100%;
    height: auto;
    position: relative; /* Cambia a relative */
    box-shadow: none; /* Opcional, quitar la sombra si no es necesaria en el navbar */
  }

  .sidebar {
    flex-direction: row; /* Cambia la dirección a fila */
    justify-content: space-around; /* Distribuye los elementos de manera uniforme */
    padding-top: 0; /* Elimina el padding superior si no es necesario */
  }

  .sidebar a {
    padding: 1rem; /* Ajusta el padding para los elementos en la barra de navegación */
    flex-grow: 1; /* Permite que cada enlace crezca para ocupar el espacio disponible */
    text-align: center; /* Centra el texto dentro de los enlaces */
  }

  .main-content {
    margin-top: 60px; /* Ajusta este valor según la altura de tu navbar */
    margin-left: 250px;
  }


}


.red {
  background-image: conic-gradient(red 100%, transparent 0%);
}

.green {
  background-image: conic-gradient(green 100%, transparent 0%);
}

.yellow {
  background-image: conic-gradient(yellow 100%, transparent 0%);
}

@media (max-width: 480px) {
  :root {
    --sidebar-width: 150px; /* Sidebar aún más pequeño para dispositivos móviles */
  }

  .horizontal-bar {
    margin-left: 0; /* Sidebar puede que se oculte o se colapse */
  }

  .chart-container {
    justify-content: center; /* Centra los gráficos de pastel en pantallas muy pequeñas */
  }

  .chart-container {
    flex-direction: column; /* Cambia la dirección del flexbox a columna */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  .cont-pie {
    width: 100%; /* Cada tarjeta se extiende al ancho completo */
  }

  .pie-chart {
    width: 60px; /* Gráficos de pastel aún más pequeños para dispositivos móviles */
    height: 60px;
  }
}
